{% extends 'base_internal.html' %}    

{% block content %}


                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            History <small>Stuff from the past</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> History
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
		
		<div class="row">
		    <div class="col-md-4">
			<h2> Presentations </h2>
			{% for p in presentation_list %}
				{% include "pleasure_app/presentation_panel.html" %} 
			{% endfor %} 
		    </div>
		    <div class="col-md-4">
			<h2> Trainings </h2>
			{% for t in training_list %}
				{% include "pleasure_app/training_panel.html" %}
			{% endfor %}
		    </div>
		    <div class="col-md-4">
			<h2> Other Events </h2>
			{% for e in event_list %}
				{% include "pleasure_app/event_panel.html" %}
			{% endfor %}
                    </div>

		</div>

{% endblock %}
