{% extends 'base_internal.html' %}    

{% block content %}


                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
		
		<div class="row">
		    <div class="col-md-4">
			<h2> Last Week </h2>
			{% for p in last_week_presentations %}
                                {% include "pleasure_app/presentation_panel.html" %}
                        {% endfor %}
	                {% for t in last_week_trainings %}
                                {% include "pleasure_app/training_panel.html" %}
			{% endfor %}
		    	{% for e in last_week_events %}
				{% include "pleasure_app/event_panel.html" %}
			{% endfor %}	
		    </div>
		    <div class="col-md-4">
		    	<h2> Next Week </h2>
			{% for p in next_week_presentations %}
                                {% include "pleasure_app/presentation_panel.html" %}
                        {% endfor %}
                        {% for t in next_week_trainings %}
                                {% include "pleasure_app/training_panel.html" %}
                        {% endfor %}
                        {% for e in next_week_events %}
                                {% include "pleasure_app/event_panel.html" %}
                        {% endfor %}  
		    </div>
		    {% if user.username %}
		    <div class="col-md-4">
			<h2> {{ user.first_name }} {{ user.last_name }} </h2>
			<p> You're logged in! There will eventually be info just for you here. </p>
		    </div>
		    {% endif %}
		
{% endblock %}
