{% extends 'base_internal.html' %}    

{% block content %}


                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
		
		<div class="row">
		    <div class="col-md-4">
			<div class= "panel panel-info">
			    <div class="panel-heading"> Last week </div>
			    <div class="panel-body">
				<p> This will show events that happened last week. </p>
			   	<ul>
				{% for pres in last_week_presentations %}
					<li> {{ pres }} </li>
				{% endfor %}
	                        {% for train in last_week_trainings %}
                                        <li> {{ train }} </li>
                                {% endfor %}
				<ul> 
			   </div>
			</div>
		    </div>
		    <div class="col-md-4">
			<div class= "panel panel-info">
                            <div class="panel-heading"> Next week </div>
                            <div class="panel-body">
                                <p> This will show events scheduled to happen next week. </p>
                                <ul>
                                {% for pres in next_week_presentations %}
                                      <li> {{ pres }} </li>
                                {% endfor %}
                                {% for train in next_week_trainings %}
                                      <li> {{ train }} </li>
                                {% endfor %}
                                <ul>  
			    </div>
			</div>
		    </div>
		</div>

{% endblock %}
