{% extends 'base_internal.html' %}

{% block content  %}

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Scheduling
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Scheduling
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
		<div style="display:none;" id="overwrite-error"  class = "alert alert-danger">
			<strong> Error! </strong>
			Someone's aleady signed up for that module. Make sure it's ok to kick them off, then switch the educator to None before switching to yourself.
		</div>
                <div class="row">
                    <div class="col-lg-9">
                        <h2>Module Presentations</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Sponsor/Location</th>
                                        <th>Date</th>
                                        <th>Module</th>
                                        <th>Educator 1</th>
                                        <th>Educator 2</th>
                                        <th>Supporter</th>
                                    </tr>
                                </thead>
                                {% if presentation_list %}
                                    <tr>
                                    {% for pres in presentation_list %}
                                        <td>{{ pres.location }}</td>
                                        <td>{{ pres.date|date:"l N j, P" }}</td>
                                        <td>{{ pres.subject }}</td>
					<td {% if not pres.educator1 %} class="danger" {% endif %} > 
						<select id="ed1_select_{{pres.id}}" onchange="updatePresentation('{{pres.id}}')">
							<option value="Null"> None </option>
							{% for ed in educator_list %}
								<option value="{{ ed.athena }}" {% if ed == pres.educator1 %}selected{% endif %} >{{ ed.first_name }} {{ ed.last_name }}</option>
							{% endfor %}
						</select>					
					</td>
                                        <td {% if not pres.educator2 %} class="danger" {% endif %} > 
                                                <select id="ed2_select_{{pres.id}}"  onchange="updatePresentation('{{pres.id}}')">
                                                        <option value="Null"> None </option>
                                                        {% for ed in educator_list %}
                                                                <option value="{{ ed.athena }}" {% if ed == pres.educator2 %}selected{% endif %} >{{ ed.first_name }} {{ ed.last_name }}</option>
                                                        {% endfor %}
                                                </select>                                               
                                        </td>
                                        <td {% if not pres.supporter %} class="danger" {% endif %} > 
                                                <select id="sup_select_{{pres.id}}"  onchange="updatePresentation('{{pres.id}}')">
                                                        <option value="Null"> None </option>
                                                        {% for ed in educator_list %}
                                                                <option value="{{ ed.athena }}" {% if ed == pres.supporter %}selected{% endif %} >{{ ed.first_name }} {{ ed.last_name }}</option>
                                                        {% endfor %}
                                                </select>                                               
                                        </td>
                                    </tr>
				    {% endfor %}
                                    </table>
                                {% else %}
                                    </table>
                                    <p> No upcoming presentations. </p>
                                {% endif %}
<!--
                                <tbody>
                                    <tr>
                                        <td>Life Skills Week</td>
                                        <td>Monday 3/4 7pm</td>
                                        <td>Communication</td>
                                        <td class="danger"></td>
                                        <td class="danger"></td>
                                        <td class="danger"></td>
                                    </tr>
                                </tbody>
-->
                            
                        </div>
                    </div>
		<div class="row">
			<div class="col-lg-3">
			<h2>New Presentation</h2>
				<form action="new_presentation/" method="post">
    					{% csrf_token %}
					<label for="location">Sponsor/Location: </label>
    					<input id="location" type="text" name="location">
    					<br><label for="date">Date</label>
					<input id="date" type="datetime-local" name="date">
					<br><label for="module">Module:</label>
					<br><input id="module1" type="radio" name="module" value="COM"> Communication
                                        <br><input id="module2" type="radio" name="module" value="VAL"> Values Clarification
                                        <br><input id="module3" type="radio" name="module" value="ID"> Identity
                                        <br><input id="module4" type="radio" name="module" value="LOV"> Love and Intimacy
                                        <br><input id="module5" type="radio" name="module" value="CUL"> Hacking Culture
					
					<br><label for="notes">Notes:</label>
					<input id="notes" type="text" name="notes">
					
					<br><input type="submit" value="Submit">
				</form>
			</div>
		</div>
                     {% endblock %}
		{% block scripts %}

                                <script>
                                function updatePresentation(pres_id) {
                                        console.log(pres_id);
                                        console.log(document.getElementById('ed1_select_'+pres_id).value);
                                        console.log(document.getElementById('ed2_select_'+pres_id).value);
                                        console.log(document.getElementById('sup_select_'+pres_id).value);
                                        var data = {
                                                "pres_id":pres_id,
                                                "ed1":document.getElementById('ed1_select_'+pres_id).value,
                                                "ed2":document.getElementById('ed2_select_'+pres_id).value,
                                                "sup":document.getElementById('sup_select_'+pres_id).value      
                                        }
                                        $.post( "{% url 'update_scheduling' %}", {
                                                csrfmiddlewaretoken: '{{ csrf_token}}' ,
                                                "pres_id":pres_id,
                                                "ed1":document.getElementById('ed1_select_'+pres_id).value,
                                                "ed2":document.getElementById('ed2_select_'+pres_id).value,
                                                "sup":document.getElementById('sup_select_'+pres_id).value 
                                        },
                                        function(data) {
						if (data == "Overwrite error!") {
							document.getElementById('overwrite-error').style = "display:block;"
						}
                                                console.log(data); 
                                        }
                                        );
                                }
                                </script>
{% endblock %}

