<div class= "panel panel-info">
                            <div class="panel-heading"> <h3 class="panel-title">Training: {{ t.module }} on {{ t.date }}  </h3></div>
                            <div class="panel-body">
                                <ul>
				     <li> {{ t.notes }} </li>
                                      <li> Attendees </li>
                                <ul>{% for ed in educator_list %}
					{% if ed.trained_communication == t or ed.trained_values == t or ed.trained_identity == t or ed.trained_love == t or ed.trained_culture == t %}
						<li> {{ ed.first_name }} {{ ed.last_name }}</li>
					{% endif %}
					{% endfor %}
				</ul>
                            </div>
                        </div>

